flask
requests
python-dotenv
PyYAML
pymongo
openai
pandas
python-dateutil
fuzzywuzzy
python-Levenshtein
langchain-core
langchain-openai
langchain-groq
langchain-mistralai
langchain-deepseek
beautifulsoup4
redis
boto3
azure-storage-blob
google-cloud-storage
pandas